@using Recipit.Pagination.Contracts
@using Recipit.ViewModels.Followers
@model IPage<FollowerViewModel>

<link href="~/css/followers-page.css" rel="stylesheet" />

<div class="recipes-container">
    @foreach (var follower in Model)
    {
        <div class="product-item" data-follower-id="@follower.Id">
            <div class="recipe-data">
                <img src="@follower.Photo" alt="Follower Photo" />
                <div class="recipe-title-and-rating">
                    <h3 class="recipe-title">@follower.Email</h3>
                </div>
                <div class="recipe-buttons">
                    <button class="delete-btn" data-follower-id="@follower.Id">Remove Follower</button>
                </div>
            </div>
        </div>
    }
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/admin/followers-page.js"></script>