:root {
    --primary-color: #ff7f50; /* coral */
    --secondary-color: #f3f3f3; /* off-white */
    --accent-color: #ffa500; /* bright orange */
    --text-color: #333; /* dark gray for text */
    --white-color: #ffffff;
    --gray-color: rgb(128, 128, 128);
}

@keyframes skeleton-loading {
    0% {
        background-color: var(--secondary-color);
    }

    50% {
        background-color: #cacaca;
    }

    100% {
        background-color: var(--secondary-color);
    }
}

.li-skeleton {
    height: fit-content !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

    .li-skeleton:hover {
        background-color: transparent !important;
    }

.skeleton-element {
    height: 30px;
    margin: 5px;
    border-radius: 25px;
    animation: skeleton-loading 1.5s infinite ease-in-out;
}

.label-select-category {
    color: var(--text-color);
    font-size: 20px;
    margin: 10px 0;
}

.select-select-category {
    border: none;
    background-color: var(--white-color);
    color: var(--text-color);
}

.products-select-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: flex-start;
    align-items: center;
}

.product-input-for-quantity {
    width: 110px;
    margin: 0 10px;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    border-right: 2px solid var(--accent-color);
    border-left: 2px solid var(--accent-color);
}

.button-add-product {
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    padding: 5px 10px;
    background-color: var(--white);
    transition: all 0.3s;
    height: 40px;
    margin: 5px 0;
}

    .button-add-product:hover {
        background-color: var(--accent-color);
    }

    .button-add-product i {
        margin-right: 5px;
    }

.added-products-container {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    padding: 5px 10px;
    background-color: var(--secondary-color);
    transition: all 0.3s;
    height: 40px;
    display: flex;
    margin: 5px 5px;
    width: fit-content;
    align-items: center;
    text-align: center;
}

.product-img {
    width: 50px;
    border-radius: 50px;
}

.x-icon {
    padding-right: 5px;
    color: var(--text-color);
    transition: all 0.3s;
    cursor: pointer;
}

    .x-icon:hover {
        color: var(--primary-color);
    }

.product-name {
    color: var(--text-color);
    margin: 0;
    font-size: 17px;
    font-weight: 300;
}

.exists-product {
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.product-popup {
    position: absolute;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

    .product-popup.hidden {
        display: none;
    }


.cerate-post-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    margin-top: 100px;
}

.create-post-section {
    width: 60%;
    margin: 10px;
}

.create-post-title-container {
    padding: 10px;
    border-radius: 10px;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

    .create-post-title-container h1 {
        font-weight: bold;
        margin: 0;
    }

.post-content-container {
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}

.post-content-navigation-top {
    display: flex;
    flex-direction: row;
}

.naligation-item {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    width: 33.3%;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    padding: 15px 0;
}

    .naligation-item:hover {
        background-color: var(--secondary-color);
        border-radius: 10px;
        color: var(--text-color);
    }

.search-products {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 16px;
}

.product-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

    .product-list li {
        background-color: var(--secondary-color);
        width: 100%;
        border-radius: 5px;
        margin: 3px;
        transition: all 0.3s;
        font-size: 18px;
        cursor: pointer;
    }

        .product-list li:hover {
            background-color: var(--accent-color);
        }

.add-new-product-btn {
    padding: 5px 5px;
    margin: 5px 0px;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--white);
    color: var(--text-color);
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: all 0.3s;
    border: 2px solid var(--accent-color);
    width: 100%;
}

    .add-new-product-btn:hover {
        border: 2px solid var(--accent-color);
        background-color: var(--accent-color);
        color: var(--text-color);
    }

.navigation-item-icon {
    margin-right: 5px;
}

.post-content {
    padding: 15px;
}

.post-content-input-title,
.post-content-input-description {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 16px;
}

.post-content-image-container {
    margin-bottom: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--secondary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.post-content-input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#drop-area p {
    margin: 0;
    font-size: 16px;
    z-index: 1;
    background-color: var(--secondary-color);
    opacity: 0.5;
    border-radius: 20px;
    padding: 5px;
    color: var(--text-color);
    transition: all 0.3s;
}

    #drop-area p:hover {
        opacity: 1;
        cursor: pointer;
    }

#drop-area {
    transition: all 0.3s;
    border: 2px dashed var(--secondary-color);
}

    #drop-area:hover {
        border: 2px dashed var(--text-color);
    }

        #drop-area:hover p {
            opacity: 1;
            cursor: pointer;
        }

    #drop-area.dragging {
        border: 2px dashed #33adff;
        background-color: var(--secondary-color);
    }


.bottom-btns-post {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.post-content-btn {
    padding: 5px 20px;
    text-decoration: none;
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: all 0.3s;
    border: 2px solid var(--accent-color);
}

    .post-content-btn:hover {
        border: 2px solid var(--accent-color);
        background-color: var(--secondary-color);
        color: var(--text-color);
    }

.create-post-profile-display-section {
    width: 35%;
    margin: 10px;
}

.profile-display-section-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.image-container-recipit-shit {
    position: relative;
    width: 200px;
    z-index: 10;
    top: 2px;
}

.img-pfp-head {
    width: 100%;
}

.privacy-recipie-text-container {
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 0;
    color: var(--text-color);
}

@media(max-width:1300px) {
    .create-post-profile-display-section {
        width: 100%;
    }

    .cerate-post-container {
        flex-direction: column;
    }

    .create-post-section {
        width: 100%;
    }
}

.uploaded-image-file {
    width: 250px;
    border-radius: 10px;
    margin: 10px;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-height: 600px;
    width: 100%;
    overflow: hidden;
    margin: 10px;
    border-radius: 30px;
    transition: all 0.3s;
    padding: 30px;
    border-bottom: 1px solid var(--secondary-color);
}

    .post-container:hover {
        background-color: var(--secondary-color);
        cursor: pointer;
        border-bottom: 1px solid var(--secondary-color);
    }

    .post-container .post-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10%;
    }

        .post-container .post-header .post-header-info {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

            .post-container .post-header .post-header-info .post-header-image {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 2px;
            }

                .post-container .post-header .post-header-info .post-header-image .header-img-data {
                    width: 50px;
                    margin-right: 10px;
                    border-radius: 50px;
                }

            .post-container .post-header .post-header-info .post-header-hour {
                display: flex;
                flex-direction: row;
                width: 100%;
            }

                .post-container .post-header .post-header-info .post-header-hour strong {
                    margin: 5px;
                }

        .post-container .post-header .post-header-buttons {
            display: flex;
            flex-direction: row;
        }

            .post-container .post-header .post-header-buttons .follow-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 30px;
                padding: 10px;
                background-color: var(--accent-color);
                color: var(--text-color);
                width: 140px;
                height: 30px;
                cursor: pointer;
                margin: 2px;
                text-decoration: none;
            }

            .post-container .post-header .post-header-buttons .report-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 30px;
                padding: 10px;
                background-color: var(--secondary-color);
                color: var(--text-color);
                width: 30px;
                height: 30px;
                cursor: pointer;
                margin: 2px;
            }

    .post-container .post-content {
        height: 100%;
        overflow: hidden;
    }

        .post-container .post-content .content-title {
            font-weight: 600;
        }

        .post-container .post-content .content-text-container {
            overflow: hidden;
            color: var(--text-color);
            font-weight: 500;
        }

    .post-container .post-footer {
        margin-top: 20px;
        height: 10%;
    }

        .post-container .post-footer .footer-buttons {
            display: flex;
            flex-direction: row;
        }

            .post-container .post-footer .footer-buttons .footer-btn-action {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 30px;
                padding: 10px;
                color: var(--secondary-color);
                width: 70px;
                height: 30px;
                cursor: pointer;
                margin: 2px;
                color: var(--text-color);
                transition: all 0.3s;
                text-decoration: none;
            }

                .post-container .post-footer .footer-buttons .footer-btn-action:hover {
                    color: var(--text-color);
                }
