.label-select-category {
    color: #929292;
    font-size: 20px;
    margin: 10px 0;
}

.select-select-category {
    border: none;
    background-color: white;
    color: #929292;
}

.products-select-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: flex-start;
    align-items: center;
}

.button-add-product {
    border: 2px solid #fdf4ec;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #fdf4ec;
    transition: all 0.3s;
    height: 40px;
}

    .button-add-product:hover {
        border: 2px solid orange;
    }

    .button-add-product i {
        margin-right: 5px;
    }

.added-products-container {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    border: 2px solid orange;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #fdf4ec;
    transition: all 0.3s;
    height: 40px;
    display: flex;
    width: fit-content;
    margin: 0px 5px;
    align-items: center;
    text-align: center;
    margin: 0 5px;
}

.product-img {
    width: 50px;
    border-radius: 50px;
}

.x-icon {
    padding-right: 5px;
    color: #333;
    transition: all 0.3s;
    cursor: pointer;
}

    .x-icon:hover {
        color: orange;
    }

.product-name {
    color: #3e3e3e;
    margin: 0;
    font-size: 17px;
    font-weight: 300;
}

.exists-product {
    color: orange;
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.product-popup {
    position: absolute;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid orange;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

    .product-popup.hidden {
        display: none;
    }


.cerate-post-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
}

.create-post-section {
    width: 60%;
    margin: 10px;
}

.create-post-title-container {
    color: #333;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

    .create-post-title-container h1 {
        margin: 0;
    }

.post-content-container {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.post-content-navigation-top {
    display: flex;
    flex-direction: row;
}

.naligation-item {
    text-decoration: none;
    color: #333;
    display: flex;
    width: 33.3%;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    padding: 15px 0;
}

    .naligation-item:hover {
        background-color: #f0f0f0;
        border-radius: 10px;
        color: #000;
    }

.search-products {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.product-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

    .product-list li {
        background-color: #fdf4ec;
        width: 100%;
        border-radius: 5px;
        margin: 3px;
        border: 2px solid #fdf4ec;
        transition: all 0.3s;
        font-size: 18px;
        cursor: pointer;
    }

        .product-list li:hover {
            border: 2px solid orange;
        }

.add-new-product-btn {
    padding: 5px 5px;
    text-decoration: none;
    background-color: orange;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
    border: 2px solid orange;
    width: 100%;
}

    .add-new-product-btn:hover {
        border: 2px solid orange;
        background-color: #fdf4ec;
        color: gray;
    }

.navigation-item-icon {
    margin-right: 5px;
}

.post-content {
    padding: 15px;
}

.post-content-input-title,
.post-content-input-description {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.post-content-image-container {
    margin-bottom: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ddd;
    border-radius: 10px;
    background-color: #fafafa;
    position: relative;
    overflow: hidden;
}

.post-content-input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#drop-area p {
    margin: 0;
    font-size: 16px;
    z-index: 1;
    background-color: #fafafa;
    opacity: 0.5;
    border-radius: 20px;
    padding: 5px;
    color: #444;
    transition: all 0.3s;
}

    #drop-area p:hover {
        opacity: 1;
        cursor: pointer;
    }

#drop-area {
    transition: all 0.3s;
    border: 2px dashed white;
}

    #drop-area:hover {
        border: 2px dashed #333;
    }

        #drop-area:hover p {
            opacity: 1;
            cursor: pointer;
        }

    #drop-area.dragging {
        border: 2px dashed #33adff;
        background-color: #e6f7ff;
    }


.bottom-btns-post {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.post-content-btn {
    padding: 5px 20px;
    text-decoration: none;
    background-color: orange;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: all 0.3s;
    border: 2px solid orange;
}

    .post-content-btn:hover {
        border: 2px solid orange;
        background-color: #fdf4ec;
        color: gray;
    }

.create-post-profile-display-section {
    width: 35%;
    margin: 10px;
}

.profile-display-section-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.image-container-recipit-shit {
    position: relative;
    width: 200px;
    z-index: 10;
    top: 2px;
}

.img-pfp-head {
    width: 100%;
}

.privacy-recipie-text-container {
    border: 2px solid orange;
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 0;
    color: gray;
}

.text-content-privacy {
}

@media(max-width:1300px) {
    .create-post-profile-display-section {
        width: 100%;
    }

    .cerate-post-container {
        flex-direction: column;
    }

    .create-post-section {
        width: 100%;
    }
}

.uploaded-image-file {
    width: 250px;
    border-radius: 10px;
    margin: 10px;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-height: 600px;
    width: 100%;
    overflow: hidden;
    margin: 10px;
    border-radius: 30px;
    transition: all 0.3s;
    padding: 30px;
    border-bottom: 1px solid #dddddd;
}

    .post-container:hover {
        background-color: rgb(248, 247, 247);
        cursor: pointer;
        border-bottom: 1px solid rgb(248, 247, 247);
    }

    .post-container .post-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10%;
    }

        .post-container .post-header .post-header-info {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

            .post-container .post-header .post-header-info .post-header-image {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 2px;
            }

                .post-container .post-header .post-header-info .post-header-image .header-img-data {
                    width: 50px;
                    margin-right: 10px;
                    border-radius: 50px;
                }

            .post-container .post-header .post-header-info .post-header-hour {
                display: flex;
                flex-direction: row;
                width: 100%;
            }

                .post-container .post-header .post-header-info .post-header-hour strong {
                    margin: 5px;
                }

        .post-container .post-header .post-header-buttons {
            display: flex;
            flex-direction: row;
        }

            .post-container .post-header .post-header-buttons .follow-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 30px;
                padding: 10px;
                background-color: orange;
                color: white;
                width: 140px;
                height: 30px;
                cursor: pointer;
                margin: 2px;
                text-decoration: none;
            }

            .post-container .post-header .post-header-buttons .report-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 30px;
                padding: 10px;
                background-color: #C864F7;
                color: white;
                width: 30px;
                height: 30px;
                cursor: pointer;
                margin: 2px;
            }

    .post-container .post-content {
        height: 100%;
        overflow: hidden;
    }

        .post-container .post-content .content-title {
            font-weight: 600;
        }

        .post-container .post-content .content-text-container {
            overflow: hidden;
            color: #808080;
            font-weight: 500;
        }

    .post-container .post-footer {
        margin-top: 20px;
        height: 10%;
    }

        .post-container .post-footer .footer-buttons {
            display: flex;
            flex-direction: row;
        }

            .post-container .post-footer .footer-buttons .footer-btn-action {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 30px;
                padding: 10px;
                color: white;
                width: 70px;
                height: 30px;
                cursor: pointer;
                margin: 2px;
                color: #808080;
                transition: all 0.3s;
                text-decoration: none;
            }

                .post-container .post-footer .footer-buttons .footer-btn-action:hover {
                    color: orange;
                }
