:root {
    --primary-color: #ff7f50; /* coral */
    --secondary-color: #f3f3f3; /* off-white */
    --accent-color: #ffa500; /* bright orange */
    --text-color: #333; /* dark gray for text */
    --white-color: #ffffff;
    --gray-color: rgb(128, 128, 128);
}
/* Product Card Specific Styles */
.product-item {
    background-color: var(--white-color);
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid var(--secondary-color); /* Light grey border */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px; /* Space between cards */
    width: 300px; /* Adjust based on the container's padding and desired gap */
    display: flex;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .product-item img {
        width: 100px; /* Make image cover the card width */
        height: auto; /* Maintain aspect ratio */
        max-height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px; /* Round corners at the top */
    }

    .product-item .recipe-data {
        padding: 15px;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; /* Space between elements */
    }

.view-mode {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.recipe-buttons {
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}

.product-item .recipe-title {
    color: var(--text-color);
    font-weight: bold;
    margin: 0;
}

.product-item .recipe-calories {
    color: var(--text-color);
    font-size: 14px;
    margin: 0;
}

/* Input styles for edit mode */
.product-item .edit-mode input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Button styles */
.product-item .recipe-buttons button {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 5px;
    transition: all 0.3s;
}

.recipe-title-and-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-btn, .cancel-btn {
    background-color: var(--white-color);
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
    color: var(--text-color);
}

    .edit-btn:hover, .cancel-btn:hover {
        background-color: var(--secondary-color);
    }

.save-btn, .delete-btn {
    background-color: var(--white-color);
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    color: var(--text-color);
}

    .save-btn:hover, .delete-btn:hover {
        background-color: var(--primary-color);
    }

.in-recipe {
}

.enabled {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .enabled h1 {
        color: var(--primary-color);
    }

.edit-btn-inrecipe {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}
.p-search-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-search {
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
    padding: 10px 20px;
    width: 400px;
}

.recipe-title-in-home {
    margin: 40px 0;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}
.dissabled {
    display: none !important;
}
/* Adjust this as necessary for your layout */
.recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Space between cards */
    padding: 20px; /* Padding around the grid */
}

/* You may need to adjust these styles further to perfectly fit your site's design */
