:root {
    --primary-color: #ff7f50; /* coral */
    --secondary-color: #f3f3f3; /* off-white */
    --accent-color: #ffa500; /* bright orange */
    --text-color: #333; /* dark gray for text */
    --white-color: #ffffff;
    --gray-color: rgb(128, 128, 128);
}
/* User Profile Styles */
.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Space between user info and recipes */
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    margin-top: 25px;
}

.user-info {
    text-align: center;
}

.user-photo {
    width: 150px; /* Adjust based on preference */
    height: 150px; /* Adjust to maintain aspect ratio */
    border-radius: 50%; /* Circular photo */
    object-fit: cover; /* Ensure the photo covers the area without distortion */
    border: 3px solid var(--primary-color); /* Highlight with primary color */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.user-info h2 {
    color: var(--text-color);
    margin-top: 10px;
}

.user-info p {
    color: var(--gray-color);
    font-size: 16px;
}

/* Recipe Container adjustments for consistency */
.recipe-container {
    background-color: var(--white-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
    width: 100%; /* Adjust based on layout */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}