.search-products-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
}

    .search-products-form .search-label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .search-products-form .select-category {
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: white;
        height: 40px;
        width: 160px;
        margin: 5px;
    }

    .search-products-form .search-input {
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        height: 40px;
        width: 160px;
        margin: 5px;
    }

    .search-products-form .search-btn {
        padding: 10px 20px;
        border-radius: 10px;
        background-color: orange;
        color: white;
        cursor: pointer;
        border: none;
        width: 160px;
        height: 40px;
        border: 2px solid orange;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .search-products-form .search-btn:hover {
            color: orange;
            background-color: white;
        }

.recipes-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    flex-wrap: wrap;
}

    .recipes-container .recipe-container {
        background-color: #fff;
        margin: 20px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        transition: all 0.3s;
        width: 400px;
    }

        .recipes-container .recipe-container:hover {
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, orange 0px 0px 0px 1px;
        }

        .recipes-container .recipe-container .recipe-data {
            display: flex;
            padding: 15px;
        }

            .recipes-container .recipe-container .recipe-data .recipe-image {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin-right: 15px;
            }

            .recipes-container .recipe-container .recipe-data .recipe-title-and-rating {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

                .recipes-container .recipe-container .recipe-data .recipe-title-and-rating .recipe-title {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                .recipes-container .recipe-container .recipe-data .recipe-title-and-rating .stars-container {
                    display: flex;
                }

                    .recipes-container .recipe-container .recipe-data .recipe-title-and-rating .stars-container i {
                        color: gold;
                    }

        .recipes-container .recipe-container .recipe-products {
            padding: 15px;
        }

            .recipes-container .recipe-container .recipe-products .recipe-ingridients-title {
                font-weight: bold;
                margin-bottom: 10px;
            }

            .recipes-container .recipe-container .recipe-products .ingridients-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

                .recipes-container .recipe-container .recipe-products .ingridients-container .ingridient {
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                    background-color: #fef5ec;
                    width: 100px;
                    height: 100px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                }

                    .recipes-container .recipe-container .recipe-products .ingridients-container .ingridient .ingridient-more {
                        font-size: 15px;
                        color: orange;
                        font-weight: bold;
                    }

                    .recipes-container .recipe-container .recipe-products .ingridients-container .ingridient .ingridient-image {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }

                    .recipes-container .recipe-container .recipe-products .ingridients-container .ingridient .ingridient-title {
                        font-size: 14px;
                        text-align: center;
                        margin-bottom: 0;
                        margin-top: 5px;
                    }

        .recipes-container .recipe-container .recipe-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 15px;
        }

            .recipes-container .recipe-container .recipe-buttons .view-recipe-btn {
                background-color: orange;
                color: white;
                border-radius: 10px;
                padding: 10px 20px;
                cursor: pointer;
                border: none;
                border: 2px solid orange;
                transition: all 0.3s;
            }

                .recipes-container .recipe-container .recipe-buttons .view-recipe-btn:hover {
                    background-color: white;
                    color: orange;
                }

                .recipes-container .recipe-container .recipe-buttons .view-recipe-btn i {
                    margin-right: 5px;
                }

            .recipes-container .recipe-container .recipe-buttons .recipe-calories {
                color: #808080;
                font-weight: bold;
                font-size: 25px;
                margin: 0;
            }

                .recipes-container .recipe-container .recipe-buttons .recipe-calories i {
                    color: orange;
                    margin-right: 5px;
                }
