:root {
    --primary-color: #ff7f50; /* coral */
    --secondary-color: #f3f3f3; /* off-white */
    --accent-color: #ffa500; /* bright orange */
    --text-color: #333; /* dark gray for text */
    --white-color: #ffffff;
    --gray-color: rgb(128, 128, 128);
}

.daily-recipe-container, .top-recipes-container, .latest-recipes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-title-in-home {
    margin: 40px 0;
}

.welcome-container {
    color: var(--text-color);
    padding: 20px;
    font-weight: bold;
    border-radius: 25px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

    .welcome-container h1 {
        color: var(--primary-color);
        font-size: 30px;
    }

    .welcome-container p {
        color: var(--gray-color);
        font-size: 16px;
        margin: 0;
        font-size: 20px;
        padding: 10px;
    }

/* Additional style for animated numbers */
.counter {
    font-weight: bold;
    color: var(--accent-color);
}


.skeleton-box {
    background-color: #e0e0e0;
    border-radius: 4px;
    width: 100%;
    height: 20px;
    margin: 10px 0;
}

.recipes-container, #recipeSkeleton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-skeleton-container, .recipe-container {
    width: 48%; /* Adjust the width to fit two items per row, considering margin/padding */
    margin-bottom: 20px; /* Add some space between the rows */
}
/* You can add more specific styles to better match the layout of your recipes */
.recipe-data.skeleton-box {
    height: 150px;
}

.recipe-title-and-rating.skeleton-box {
    height: 20px;
    width: 60%;
}

.recipe-products.skeleton-box {
    height: 100px;
}

.recipe-buttons.skeleton-box {
    height: 30px;
    width: 50%;
}

/* Animation for skeleton */
@keyframes skeleton-loading {
    0% {
        background-color: #e0e0e0;
    }

    50% {
        background-color: #f5f5f5;
    }

    100% {
        background-color: #e0e0e0;
    }
}

.skeleton-box {
    animation: skeleton-loading 1.5s infinite ease-in-out;
}


.search-products-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
}

    .search-products-form .search-label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .search-products-form .select-category {
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 5px;
        font-weight: bold;
        color: var(--text-color);
        border: 1px solid var(--secondary-color);
        background-color: var(--white-color);
        height: 40px;
        width: 160px;
        margin: 5px;
    }

    .search-products-form .search-input {
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid var(--secondary-color);
        height: 40px;
        width: 160px;
        margin: 5px;
        font-weight: bold;
        color: var(--text-color);
    }

    .search-products-form .search-btn {
        padding: 10px 20px;
        border-radius: 10px;
        background-color: var(--white-color);
        color: var(--text-color);
        cursor: pointer;
        border: none;
        width: 160px;
        height: 40px;
        border: 2px solid var(--accent-color);
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

        .search-products-form .search-btn:hover {
            color: var(--text-color);
            background-color: var(--accent-color);
        }

#pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    #pagination button {
        background-color: var(--white-color);
        color: var(--text-color);
        border-radius: 10px;
        padding: 2px 20px;
        cursor: pointer;
        border: none;
        font-weight: bold;
        border: 2px solid var(--accent-color);
        transition: all 0.3s;
    }

        #pagination button:hover {
            color: var(--text-color);
            background-color: var(--accent-color);
        }

    #pagination span {
        color: var(--text-color);
        border: 2px solid var(--accent-color);
        border-radius: 50px;
        padding: 5px 13px;
    }

.recipes-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    flex-wrap: wrap;
}

    .recipes-container .recipe-container {
        background-color: var(--white-color);
        margin: 20px;
        border-radius: 20px;
        overflow: hidden;
        border: 5px solid transparent;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: all 0.3s;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .recipes-container .recipe-container:hover {
            border: 5px solid var(--secondary-color);
        }

        .recipes-container .recipe-container .recipe-data {
            display: flex;
            padding: 15px;
        }

            .recipes-container .recipe-container .recipe-data .recipe-image {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin-right: 15px;
            }

            .recipes-container .recipe-container .recipe-data .recipe-title-and-rating {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

                .recipes-container .recipe-container .recipe-data .recipe-title-and-rating .recipe-title {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                .recipes-container .recipe-container .recipe-data .recipe-title-and-rating .stars-container {
                    display: flex;
                }

                    .recipes-container .recipe-container .recipe-data .recipe-title-and-rating .stars-container i {
                        color: var(--primary-color);
                    }

        .recipes-container .recipe-container .recipe-products {
            padding: 15px;
        }

            .recipes-container .recipe-container .recipe-products .recipe-ingridients-title {
                font-weight: bold;
                margin-bottom: 10px;
            }

            .recipes-container .recipe-container .recipe-products .ingridients-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

                .recipes-container .recipe-container .recipe-products .ingridients-container .ingridient {
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                    background-color: var(--secondary-color);
                    width: 100px;
                    height: 100px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                }

                    .recipes-container .recipe-container .recipe-products .ingridients-container .ingridient .ingridient-more {
                        font-size: 15px;
                        color: var(--text-color);
                        font-weight: bold;
                    }

                    .recipes-container .recipe-container .recipe-products .ingridients-container .ingridient .ingridient-image {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }

                    .recipes-container .recipe-container .recipe-products .ingridients-container .ingridient .ingridient-title {
                        font-size: 14px;
                        text-align: center;
                        margin-bottom: 0;
                        margin-top: 5px;
                    }

        .recipes-container .recipe-container .recipe-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 10px;
        }

            .recipes-container .recipe-container .recipe-buttons .view-recipe-btn {
                background-color: var(--white-color);
                color: var(--text-color);
                border-radius: 10px;
                padding: 10px 20px;
                cursor: pointer;
                border: none;
                font-weight: bold;
                border: 2px solid var(--accent-color);
                transition: all 0.3s;
            }

                .recipes-container .recipe-container .recipe-buttons .view-recipe-btn:hover {
                    background-color: var(--accent-color);
                    color: var(--text-color);
                }

                .recipes-container .recipe-container .recipe-buttons .view-recipe-btn i {
                    margin-right: 5px;
                }

            .recipes-container .recipe-container .recipe-buttons .recipe-calories {
                font-weight: bold;
                font-size: 22px;
                margin: 0;
            }

                .recipes-container .recipe-container .recipe-buttons .recipe-calories i {
                    margin-right: 5px;
                }

.recipe-calories-green i,
.recipe-calories-green {
    color: rgb(76, 177, 76);
}

.recipe-calories-orange i,
.recipe-calories-orange {
    color: var(--primary-color);
}

.recipe-calories-red i,
.recipe-calories-red {
    color: rgb(192, 73, 73);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/*.fire-icon {
    animation: pulse 1s infinite alternate; 
}*/
