:root {
    --primary-color: #ff7f50; /* coral */
    --secondary-color: #f3f3f3; /* off-white */
    --accent-color: #ffa500; /* bright orange */
    --text-color: #333; /* dark gray for text */
    --white-color: #ffffff;
    --gray-color: rgb(128, 128, 128);
}

* {
    font-family: 'Comfortaa', sans-serif;
}

body {
    margin: 0;
    display: flex;
    background-color: var(--white-color);
}

.page {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    flex-shrink: 0;
}

.container-section {
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
    width: inherit;
    position: fixed;
    z-index: 100;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-width: 1px;
    border-color: var(--primary-color);
    height: 70px;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid var(--secondary-color);
}

.navbar {
    width: 250px;
    position: relative;
    height: calc(100vh);
}

nav {
    width: 250px;
    height: 100px;
    position: fixed;
    margin: 20px;
    border-radius: 20px;
}

ul {
    font-size: 24px;
    list-style: none;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.container-main {
    padding: 30px 50px;
    padding-top: 80px;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    top: -3px;
    color: var(--text-color);
}

.nav-title {
    color: var(--text-color);
    font-size: 13px;
    font-weight: 600;
}

.oi {
    margin-right: 3px;
    margin-left: 6px;
}

.hover {
    cursor: pointer;
}

.space-between {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    padding-bottom: 50px;
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.nav-item {
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    padding: 20px;
    font-size: 18px;
    width: 100%;
}

.nav-link {
    font-weight: 500;
    transition: all 0.3s;
    text-decoration: none;
    width: 100%;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 11px;
    color: var(--text-color);
    font-weight: bold;
}

    .nav-link span {
        color: var(--text-color);
    }

    .nav-link:hover {
        color: var(--text-color);
        background-color: var(--accent-color);
    }

        .nav-link:hover span {
            color: var(--text-color);
        }

.food-bg-img {
    width: 100%;
    margin-bottom: 40px;
}

.hidden {
    display: none !important;
}


.logo-img-navbar {
    z-index: 500;
    width: 80%;
    padding: 10px;
}

.fixed-nav {
    position: fixed !important;
    z-index: 200 !important;
    display: flex !important;
    width: 300px !important;
}

.circle-bg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}

    .circle-bg:hover {
        background-color: var(--secondary-color);
    }

.navbar-brand {
    padding: 0;
    margin: 0;
}

.pf-view-pg {
    width: 400px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 45px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.pf-view-ctr {
    z-index: 300;
    margin-top: 70px;
    position: fixed;
    width: inherit;
    height: 500px;
    padding-right: 20px;
}

h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

h1 {
    font-size: 22px;
    color: var(--text-color);
}

.create-recipie-container {
    display: flex;
    justify-content: center;
}

.create-recipie-btn {
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 0;
    color: var(--text-color);
    border: 2px solid var(--accent-color);
    background-color: var(--secondary-color);
    border-radius: 25px;
    padding: 5px 10px;
    transition: all 0.3s;
    font-weight: bold;
}

    .create-recipie-btn:hover {
        background-color: var(--accent-color);
        color: var(--text-color);
    }

    .create-recipie-btn span {
        margin-right: 5px;
    }

.img-ctnr {
    width: 250px;
    height: 250px;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    transition: all 1s;
    filter: saturate(90%);
}

    .img-ctnr:hover {
        filter: saturate(1);
    }

.sth-centerd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

.fixed-contnr {
    position: relative;
    text-align: center;
    width: 250px;
    height: 250px;
    z-index: 20;
}

@media(max-width: 1041px) {
    .container-main {
        padding: 90px 22px;
        padding-bottom: 0px;
        height: fit-content;
    }
}

@media(max-width: 641px) {
    .container-main {
        padding: 90px 10px;
        padding-bottom: 0px;
        height: fit-content;
    }
}

@media(max-width: 780px) {
    .navbar {
        display: none;
    }

    .page {
        width: 100%;
    }
}
