@using Recipit.ViewModels.Account
@model ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Смяна на парола";
}

<div class="container-section">
    <div class="logo">
        <img class="logo-img" src="~/images/recipit-removebg-preview.png" alt="logo">
    </div>
    <div class="login-container">
        <div class="container-titles">
            <h2>Смяна на парола</h2>
            <p>Повече от 15,000 рецепти!</p>
        </div>
        <form method="post" class="login-form" asp-area="Follower" asp-controller="Profile" asp-action="ChangePassword">
            <div class="input-container">
                <i class="fa-solid fa-lock"></i>
                <input required asp-for="@Model.OldPassword" type="password" placeholder="Въведи текуща парола">
            </div>
            <div class="input-container">
                <i class="fa-solid fa-lock"></i>
                <input required asp-for="@Model.NewPassword" type="password" placeholder="Въведи нова парола">
            </div>
            <div class="input-container">
                <i class="fa-solid fa-lock"></i>
                <input required asp-for="@Model.ConfirmNewPassword" type="password" placeholder="Потвърди нова парола">
            </div>
            <button type="submit" class="login-btn">Смени парола</button>
            <a class="register-btn-span" asp-area="Follower" asp-controller="Profile" asp-action="Profile">Върни се обратно</a>
        </form>
    </div>
</div>