@using Recipit.Models.Account
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Вход";
}

<div class="container-section">
    <div class="logo">
        <img class="logo-img" src="~/images/recipit-removebg-preview.png" alt="logo">
    </div>
    <div class="login-container">
        <div class="container-titles">
            <h2>Вход</h2>
            <p>Повече от 15,000 рецепти!</p>
        </div>
        <form method="post" class="login-form" asp-area="" asp-controller="Account" asp-action="Login">
            <div class="input-container">
                <i class="fa-solid fa-envelope"></i>
                <input asp-for="@Model.Email" type="email" placeholder="Въведи имейл адрес">
            </div>
            <div class="input-container">
                <i class="fa-solid fa-lock"></i>
                <input asp-for="@Model.Password" type="password" placeholder="Въведи парола">
            </div>
            <button type="submit" class="login-btn">Вход</button>
            <a class="google-login"><img class="google-image" src="~/images/google-icon.png" alt="google-image">Продължи с Google</a>
            <a class="register-btn-span" asp-area="Home" asp-controller="Account" asp-action="Register">Търсите регистрация?</a>
        </form>
    </div>
</div>