<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/account/style.css" rel="stylesheet" />
    <title>@ViewData["Title"] - Recipit</title>
</head>
<body>
    @RenderBody()
    <script src="https://kit.fontawesome.com/90737a6dc1.js" crossorigin="anonymous"></script>
</body>
</html>