@using Recipit.Contracts.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recipit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Recipit.styles.css" asp-append-version="true" />
    <link href="~/css/create-post.css" rel="stylesheet" />
</head>
<body>
    <div class="container-section">
        <div class="navbar" id="navbar">
            <a href="#" class="btn-hide hidden" id="navbar-hide"><i class="fa fa-xmark"></i></a>
            <nav class="space-between">
                <section>
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="logo-img-navbar" src="~/images/Copy_of_Yellow_Advertising_Marketing_Agency_Business_Logo2png_1_-removebg-preview.png" alt="kos" />
                    </div>
                    <div class="nav-item px-1 hover">
                        <a class="nav-link fs-6 px-2" asp-action="Dashboard" asp-controller="FinancialData">
                            <span class="oi fa-solid fa-border-all" aria-hidden="true"></span> Overview
                        </a>
                    </div>
                    <div class="nav-item px-1 hover">
                        <a class="nav-link fs-6 px-2" asp-action="AllCurrencies" asp-controller="FinancialData">
                            <span class="oi fa-solid fa-file-lines" aria-hidden="true"></span> Recipies
                        </a>
                    </div>
                    <div class="nav-item px-1 hover">
                        <a class="nav-link fs-6 px-2" asp-action="News" asp-controller="News">
                            <span class="oi fa-solid fa-filter" aria-hidden="true"></span> Filter
                        </a>
                    </div>
                    <div class="nav-item px-1 hover">
                        <a class="nav-link fs-6 px-2" asp-action="Feed" asp-controller="Posts">
                            <span class="oi fa-solid fa-heart" aria-hidden="true"></span> Favourite
                        </a>
                    </div>
                    <div class="nav-item px-1 hover">
                        <a class="nav-link fs-6 px-2" href="#">
                            <span class="oi fa-solid fa-gear" aria-hidden="true"></span> Settings
                        </a>
                    </div>
                </section>
                <section>
                    <div class="create-recipie-container">
                        <div class="img-ctnr">
                            <img class="food-bg-img" src="~/images/bgggggg.png" alt="img">
                            <div class="sth-centerd">
                                <a class="create-recipie-btn" asp-area="@RecipitRole.Follower" asp-controller="Recipie" asp-action="Create">CREATE RECIPIE</a>
                            </div>
                        </div>
                    </div>
                </section>
            </nav>
        </div>
    </div>
    <div class="page" id="page">
        <header>
            
        </header>
        <div class="container-main">
            <main role="main" class="pb-3">
                @RenderBody()
                <script src="https://kit.fontawesome.com/90737a6dc1.js" crossorigin="anonymous"></script>
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
